
.title{
    text-align: center;
}
.divs{
     display: flex;
    justify-content:center;
}
.form{
    text-align: center;
    width: 500px;
}


.inputName{
    
    padding: 8px 5px;
    margin: 10px;
    width:70%;
}
.inputTem{
    padding: 8px ;
    margin: 10px;
    width: 20%;
}
.checkbox{
    margin: 10px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.button{
    width: 50%;
    border-radius: 8px;
    padding: 10px;
    background-color: #1d7d7e;
    border:none;
    color:#fff
}