.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../../public/landing-page-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.paragraph {
  max-width: 858px;
  margin-top: 33px;
  font-size: 24px;
  font-weight: 500;
}

.btn {
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  width: 292px;
  height: 48px;
  border: none;
  background-color: var(--verde-claro);
  transition: var(--btn-transition);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--verde-dark);
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--verde);
  transition: var(--btn-transition);
}

.login {
  margin-top: 57px;
}

.cadastrar {
  all: inherit;
  color: var(--verde-claro);
  margin-top: 34px;
  cursor: pointer;
  width: fit-content;
  text-decoration-line: underline;
}

.cadastrar:hover,
.cadastrar:focus,
.cadastrar:active {
  background-color: inherit;
  color: var(--verde);
}
