@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --cinza: #4f4f4f;
  --verde-claro: #dcf0e2;
  --verde: #98d7c2;
  --verde-escuro: #157d7e;
  --verde-dark: #235051;

  --btn-transition: background-color 0.15s ease-in-out;
}

body,
button {
  font-family: "Poppins", sans-serif;
  color: var(--cinza);
}

h1 {
  font-size: 40px;
}
